<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
<link rel="manifest" href="/site.webmanifest?v=2">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#7dc2ff">
<link rel="shortcut icon" href="/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#7ec3ff">

{%- if theme.disable_baidu_transformation %}
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
{%- endif %}
{%- if theme.google_site_verification %}
  <meta name="google-site-verification" content="{{ theme.google_site_verification }}">
{%- endif %}
{%- if theme.bing_site_verification %}
  <meta name="msvalidate.01" content="{{ theme.bing_site_verification }}">
{%- endif %}
{%- if theme.yandex_site_verification %}
  <meta name="yandex-verification" content="{{ theme.yandex_site_verification }}">
{%- endif %}
{%- if theme.baidu_site_verification %}
  <meta name="baidu-site-verification" content="{{ theme.baidu_site_verification }}">
{%- endif %}

<link rel="stylesheet" href="{{ url_for(theme.css) }}/main.css">
<link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap&subset=japanese" rel="stylesheet">

{{ next_font() }}

<link rel="stylesheet" href="{{ theme.vendors.fontawesome }}">

{%-if theme.motion.enable %}
  <link rel="stylesheet" href="{{ theme.vendors.animate_css }}">
{%- endif %}

{%- if theme.fancybox %}
  <link rel="stylesheet" href="{{ theme.vendors.fancybox_css }}">
{%- endif %}

{%- if theme.nprogress.enable %}
  <link rel="stylesheet" href="{{ theme.vendors.nprogress_css }}">
  <script src="{{ theme.vendors.nprogress_js }}"></script>
{%- endif %}

{{ next_config() }}
