::selection {
  background: $selection-bg;
  color: $selection-color;
}

html, body {
  height: 100%;
}

body {
  background: var(--body-bg-color);
  color: var(--text-color);
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-height: 100%;
  position: relative;
  transition: all $transition-ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 15px;
}

for $headline in (1 .. 6) {
  h{$headline} {
    font-size: $font-size-headings-base - $font-size-headings-step * $headline;
  }
}

p {
  margin: 0 0 1em 0;
}

a, span.exturl {
  border-bottom: 1px solid $link-decoration-color;
  color: var(--link-color);
  outline: 0;
  text-decoration: none;
  word-wrap();

  &:hover {
    border-bottom-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }

  // For spanned external links.
  cursor: pointer;
}

iframe, img, video, embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ddd;
  margin: 1.875em 0;
}

blockquote {
  border-left: 4px solid $grey-lighter;
  color: var(--blockquote-color);
  margin: 0;
  padding: 0 15px;

  cite::before {
    content: '-';
    padding: 0 5px;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  padding: 0;
}

.toc {
	text-align: center;
}

.toc .btn {
	padding: 0 15px !important;
}

.toc div {
	padding: 4px 0 4px;
  margin-bottom: 8px;
}

.meta-br {
	height: 2px;
	width: 100%;
	background-color: transparent;
	display: block
}

.post-block ol:only-of-type, .post-block ul:only-of-type {
	padding-left: 20px;
}

.post-block li {
	margin-bottom: 2px
}

a.arrow-link {
	border-style: none !important;
	color: #3366FF;
}

a.arrow-link:hover, a.fn:hover {
	color: #142866;
}

a.fn {
	color: #3366FF;
	font-size: .88em;
	border-style: none !important;
}

.rightalign {
	display: block;
	text-align: right !important;
}

a.noline {
	border-style: none !important;
}

.imgright {
	float: right;
	max-width: 40%;
	max-height: auto;
}

.s-btn {
  background: var(--btn-default-bg);
  border: 2px solid var(--btn-default-border-color);
  border-radius: 2px;
  color: var(--btn-default-color);
  display: inline-block;
  font-size: .875em;
  padding: 5px;
}

.s-btn:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
}

.spoiler {
  overflow: hidden;
}

.spoiler > .s-box {
  overflow: hidden;
  transition: all 1s ease;
  background: #eee;
  border-radius: 2px;
  margin-top: .5em;
}

.s-txt {
  padding: 1em;
}

.s-txt > blockquote {
  border-color: #ababab;
}

.s-btn[value="Show"]+.spoiler>div {
  max-height: 0;
}

.s-btn[value="Hide"]+.spoiler>div {
  max-height: 150px;
}

.btn.rm-btn {
  display: inline-block;
  margin: auto;
}

.meta-c {
  margin-left: -4px;
}
